$COLOR__BLUE: #00BFF3;
$COLOR__WHITE: #FFFFFF;
$COLOR__YELLOW: rgba(255, 242, 0, 0.7);
$COLOR__BLACK: #000000;
$COLOR__GRAY: #777777;
$COLOR__RED: #CB0000;

@font-face { 
	font-family: 'TrebuchetMS';  
	src: url('../fonts/trebuchetMS.ttf') format('truetype'); 
}

$FONT__1: Arial;
$FONT__2: 'TrebuchetMS', Arial;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
table, tr, th, td {
	padding: 0;
	margin: 0;
	border: 0;
}
ul, li {
	margin: 0;
	padding: 0;
	list-style: none;
}

%flex {
	display: flex;
	justify-content: center;
}

%menuP {
	font-family: $FONT__1;
	line-height: normal;
}

html {
	font-size: 10px;
}

body {
	@extend %flex;	
}

.container {
	@extend %flex;
	flex-wrap: wrap;
	width: 1400px;
	height: 2810px;
	background: $COLOR__WHITE;
}

/*MENU START*/
.menu {
	display: flex;
	justify-content: center;
	flex-wrap: nowrap;
	width: 100%;
	height: 3.7%;
	background: $COLOR__BLUE;
	color: $COLOR__WHITE;

	.logoSuntour {
		width: 179px;
		margin-top: 3rem;
	}

	.menuText {
		width: 149px;
		margin: 4rem 0 0 1.57%;

		p {
			@extend %menuP;
			font-size: 1.6rem;
		}
	}

	.menuNumber {
		width: 196px;
		margin: 3.4rem 0 0 12.71%;

		p {
			@extend %menuP;
			font-size: 3rem;
		}
	}

	.callback {
		width: 12.6rem;
		margin: 4.2rem 4.7rem 0 1.86%;

		p {
			@extend %menuP;
			font-size: 1.6rem;
			border-bottom: 1px dotted;

		}
	}

	.socialLogo {
		width: 116px;
		margin-top: 3.6rem;

		svg {
			margin-left: 3px;
		}
	}
}
/*MENU END*/
.maincontent {
	width: 74.29%;

	
	/*HEADER STAR*/
	
	.header {
		@extend %flex;
		flex-wrap: wrap;	
		width: 100%;
		height: 24.95%;
		margin: 2.4rem 0;

		.headerImg {
			width: 100%;
			height: 78.89%;
			background: url(../img/headerImg.jpg);
			background-size: cover;
			background-repeat: no-repeat;

			.ellipse {
				@extend %flex;	
				width: 250px;
				height: 250px;
				border-radius: 50%;
				background: $COLOR__YELLOW;
				margin: 27rem 0 3.3rem 3.2rem;

				.ellipseText {
					@extend %flex;	
					flex-wrap: wrap;
					width: 67.6%;
					margin: 4.5rem 4rem 4.9rem 4.1rem;
					text-align: center;

					.one {
						width: 100%;
						font-family: $FONT__2;
						line-height: normal;
						font-size: 2.5rem;
						color: $COLOR__BLACK;
					}
					.two {
						width: 100%;
						font-family: $FONT__2;
						line-height: normal;
						font-size: 1.4rem;
						text-transform: uppercase;
						color: $COLOR__BLACK;
						margin: 1.6rem 0 .6rem 0;
					}
					.three {
						width: 9.9rem;
						height: 2.8rem;
						font-family: $FONT__2;
						line-height: normal;
						font-size: 2.4rem;
						text-transform: uppercase;
						color: $COLOR__WHITE;
						background: $COLOR__BLACK;
					}
				}
			}
		}
		.headerText {
			display: flex;
			flex-wrap: nowrap;
			width: 100%;

			.textHotel {
				width: 75.38%;
				color: $COLOR__BLACK;

				.nameHotel {
					display: flex;
					flex-wrap: nowrap;
					width: 71.68%;
					margin: 2.3rem 0 3.5rem 0;

					h3 {
						width: 29.3rem;

						font-family: $FONT__2;
						line-height: normal;
						font-size: 3.5rem;
						border-bottom: 1px solid rgba(0, 0, 0, .25);
					}
					span {
						width: 25.98%;
						margin: 1rem 0 0 2rem;
					}
					p {
						width: 14.77%;

						font-family: $FONT__2;
						line-height: normal;
						font-size: 3.5rem;
						margin-left: 2rem;
					}
				}
				.rating {
					display: flex;
					flex-wrap: nowrap;
					width: 94.48%;

					table {
						text-align: left;
						color: $COLOR__BLACK;

						.review {
							font-family: $FONT__1;
							line-height: normal;
							font-size: 1.4rem;
							width: 16.95%;
							padding-right: 2.5rem;

							span {
								font-weight: bold;
							}
						}
						.totalScore {
							width: 9.79%;
							background: $COLOR__BLUE;
							font-family: $FONT__2;
							line-height: normal;
							font-size: 2.4rem;
							text-align: center;
							color: $COLOR__WHITE;
							padding: 1.2rem .8rem;
						}
						.info {
							font-family: $FONT__1;
							line-height: normal;
							font-size: 1.2rem;
							letter-spacing: 0.05em;
							text-transform: uppercase;
							color: $COLOR__BLACK;

							span{
								font-size: 1.8rem;
								font-weight: bold;
							}
						}
						.one {
							padding-left: 2.4rem;
						}
						.next {
							padding-left: 1.6rem;
						}
					}
					
				}
			}
			.textInfo {
				width: 16.15%;
				margin: -2.7rem 8.8rem 2.4rem 0;

				span {
					font-family: $FONT__2;
					line-height: normal;
					font-size: 8.8rem;
					letter-spacing: -0.05em;
					text-transform: uppercase;
					color: $COLOR__GRAY;
				}
				p {
					font-family: $FONT__1;
					line-height: 3.1rem;
					font-size: 3rem;
					text-align: center;
					color: $COLOR__BLACK;
					margin-top: -1.1rem;
				}
			}
		}
	}
	
	/*HEADER END*/

	/*MAIN START*/
	
	.main {
		width: 100%;
		height: 69.43%;

		.extrim {
			display: flex;
			justify-content: space-between;
			flex-wrap: nowrap;
			width: 100%;
			margin: 5.5rem 0 0 0;

			.extrimItem {
				display: flex;
				flex-wrap: wrap;
				width: 48.08%;
				height: 376px;

				.extrimImgOne {
					width: 100%;
					height: 73%;
					background: url(../img/extrimImg1.jpeg);
					background-size: cover;
					background-repeat: no-repeat;
				}
				.extrimImgTwo {
					width: 100%;
					height: 73%;
					background: url(../img/extrimImg2.jpg);
					background-size: cover;
					background-repeat: no-repeat;
				}
				.extrimInfo {
					display: flex;
					justify-content: space-between;
					flex-wrap: nowrap;
					width: 100%;
					margin-top: 2.4rem;

					.extrimText {

						h3 {
							font-family: $FONT__2;
							line-height: normal;
							font-size: 3.5rem;
							color: $COLOR__BLACK;
							margin-bottom: 1.1rem;
							border-bottom: 1px solid rgba(0, 0, 0, .25)
						}
						.sale {
							color: $COLOR__RED;
							border-bottom: 1px solid rgba(203, 0, 0, .25);
						}
						p {
							font-family: $FONT__1;
							line-height: 1.9rem;
							font-size: 1.4rem;
							color: $COLOR__BLACK;
						}
					}
					.extrimPrice {
						text-align: right;

						.priceNormal {
							font-family: $FONT__2;
							line-height: normal;
							font-size: 3.5rem;
							color: $COLOR__BLACK;
						}
						span {
							color: $COLOR__RED;
							text-decoration: line-through;
						}
						.priceSale {
							font-family: $FONT__2;
							line-height: normal;
							font-size: 2rem;
							color: $COLOR__GRAY;
						}
					}
				}
			}
		}
		.text {
			@extend %flex;
			flex-wrap: wrap;
			width: 100%;
			margin-top: 67px;

			h5 {
				font-family: $FONT__2;
				line-height: 5.2rem;
				font-size: 5rem;
				color: $COLOR__BLACK;
			}
			.textContent {
				display: flex;
				flex-wrap: nowrap;
				width: 100%;
				margin-top: 2.2rem;

				.textMain {
					width: 74.62%;

					p, li {
						font-family: $FONT__1;
						line-height: 1.9rem;
						font-size: 1.4rem;
						color: $COLOR__BLACK;
						margin-bottom: 2.4rem;
					}
					.bold {
						font-weight: bold;
					}
					h6 {
						font-family: $FONT__1;
						line-height: normal;
						font-size: 2.2rem;
						color: $COLOR__BLACK;
						margin-bottom: .5rem;
					}
					.h7 {
						font-size: 1.6rem;
					}
					blockquote {
						width: 93.81%;
						font-style: italic;
						border-left: .8rem solid $COLOR__BLUE;
						margin-left: 4.8rem;
						margin-bottom: 2.6rem;

						p {
							padding: 1.1rem 0 1.1rem 1.6rem;
						}
					}
					table {
						width: 100%;
						height: 111px;
						font-family: $FONT__1;
						line-height: normal;
						font-size: 1.4rem;
						color: $COLOR__BLACK;
						text-align: left;
						border-spacing: 0 1.4rem;
						margin: 3.1rem 0;

						.tHeader {
							width: 100%;
							height: 3.6rem;
							background: rgb(228, 228, 228);
						}
					}
					ul {
						margin-top: -1.6rem;
					}
					li {
						margin: 0 0 .8rem .8rem;
					}
				}

				.textInfo {
					width: 21.83%;
					margin: 15.1rem 0 0 3.7rem;

					.textInfoNumber {
						font-family: $FONT__2;
						line-height: normal;
						font-size: 10rem;
						letter-spacing: -0.05em;
						color: $COLOR__GRAY;
						margin-bottom: .4rem;
					}
					.textInfoHeader {
						font-family: $FONT__1;
						line-height: 3.1rem;
						font-size: 3rem;
						color: $COLOR__BLACK;
						margin-bottom: .8rem;
					}
					.textInfoP {
						font-family: $FONT__1;
						line-height: 2.5rem;
						font-size: 2rem;
						color: $COLOR__GRAY;
					}
				}
			}
		}
	}

	/*MAIN END*/
}

/*FOOTER START*/

.footer {
	display: flex;
	justify-content: space-between;
	flex-wrap: nowrap;
	width: 74.29%;
	height: 2.28%;
	border-top: 1px solid $COLOR__GRAY;
	margin: 3.6rem 0 2.3rem 0;

	.footerInfo {
		font-family: $FONT__1;
		line-height: 1.7rem;
		font-size: 1.2rem;
		color: $COLOR__BLACK;
		margin-top: 2.4rem;

		span {
			color: $COLOR__BLUE;
			border-bottom: 1px dotted;
		}
	}
	.footerSocial {
		width: 116px;
		margin-top: 1.6rem;
		
		svg {
			margin-left: .2rem;
		}
	}
}
/*FOOTER END*/
.scroll_To_Top {
	width: 50px;
	height: 50px; 
	color: $COLOR__WHITE;
	background: $COLOR__BLUE;
	text-decoration: none;
	position: fixed;
	padding: 10px; 
	text-align: center;
	font-weight: bold;
	bottom: 150px;
	right: 50px;
	display: none;
	border: 1px solid black;
}
		
.scroll_To_Top:hover {
	text-decoration: none; 
	background:$COLOR__GRAY;
}	  

.f-nav {
    z-index: 9999;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background: rgba(169,3,41,0.5); /* Old browsers */
	background: -webkit-linear-gradient(top, rgba(169,3,41,0.5) 0%,rgba(143,2,34,0.5) 44%,rgba(109,0,25,0.5) 100%);
}